{% include "header.html" %}

        <!-- Header-->
        <header class=" py-5" style="background-color: #C8CFA0">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Local Coffee Shops</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Work and Caffeine</p>
                </div>
            </div>
        </header>

<!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">

                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
               {% for cafe in cafes %}

                    <div class="col mb-5">

                        <div class="card h-100">
                            <!-- Product image-->

                            <a href="{{ cafe.map_url }}"><img class="card-img-top" src="{{ cafe.img_url }}" alt="..."/></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ cafe.name }}</h5>
                                    {{ cafe.location }}
                                     <div class="d-flex justify-content-center small text-warning mb-2">
                                        {% if cafe.has_sockets %}
                                         <div class="bi bi-plug-fill me-2" style="font-size: 1.5em; color: black"></div>
                                         {% endif %}
                                         {% if cafe.has_wifi %}
                                        <div class="bi bi-wifi me-2" style="font-size: 1.5em; color: black"></div>
                                         {% endif %}
                                         {% if cafe.has_toilet %}
                                        <div class="bi bi-badge-wc-fill me-2" style="font-size: 1.5em; color: black"></div>
                                         {% endif %}
                                         {% if cafe.can_take_calls %}
                                        <div class="bi bi-telephone-fill" style="font-size: 1.5em; color: black"></div>
                                         {% endif %}
                                    </div>
                                    <!-- Product price-->
                                    Coffee Price: {{ cafe.coffee_price}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{url_for('show_single_cafe', cafe_id=cafe.id) }}">View cafe</a></div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                    <!--<div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Sale badge&ndash;&gt;
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Special Item</h5>
                                    &lt;!&ndash; Product reviews&ndash;&gt;
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Sale badge&ndash;&gt;
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    &lt;!&ndash; Product reviews&ndash;&gt;
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $40.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Sale badge&ndash;&gt;
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $120.00 - $280.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Sale badge&ndash;&gt;
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Special Item</h5>
                                    &lt;!&ndash; Product reviews&ndash;&gt;
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    &lt;!&ndash; Product reviews&ndash;&gt;
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $40.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>

            </div>
        </section>

{% include "footer.html" %}